@media screen and (min-width: 768px) {
    .main-header {
        margin: 25px;
    }

    .main-content-inner {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 15px;
    }

    .main-header-inner {
        padding: 0 25px;
    }
}

@media screen and (max-width: 768px) {
    .main-header-inner {
        padding: 0;
    }

    .main-header {
        margin: 10px;
    }

    .main-content-inner {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }
}

body {
    margin: 0;
    padding: 0;

    font-family: Niramit, sans-serif;
}

.main-header {
    background: white;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 25px;
}

.main-header-inner {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 15px auto;
    display: grid;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.main-logo {
    display: block;
    height: 60px;
}

.main-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.item-link {
    display: block;
    height: 60px;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    line-height: 36px;
    padding: 12px 15px;
}

.item-link:hover {
    box-sizing: border-box;
    border-bottom: 3px solid red;
}

.active {
    font-weight: bold;
}

.main-content-inner {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 15px auto;


    display: grid;
}

.article {
    box-sizing: border-box;
    flex-basis: 370px;
    flex-grow: 1;
    margin: 10px;
    background-color: #fff;
}

.article-image {
    width: 100%;
}

.article-image-link {
    display: block;
    font-size: 0;
}

.article-preview {
    padding: 20px;
}

.article-heading {
    padding: 0;
    margin: 0;
}

.article-link {
    /* text-decoration: none; */
    color: black;
}

.article-text {
    display: inline;
}

.article-link:hover {
    color: red;
    transition: 60ms;
}

.main-nav-list .item-link {
    text-transform: uppercase;
}

.release .article-heading {
    text-align: center;
    padding-bottom: 5px;
}

.release .artist-name {
    display: block;
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.time-container {
    display: flex;
    justify-content: flex-end;
}

.article-time {
    font-size: 14px;
    text-align: right;
    opacity: 0.6;
}

.main-footer-inner {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

.main-footer {
    height: 60px;
    background-color: #fff;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-text {
    box-sizing: border-box;
    margin: 0;
    line-height: 16px;
    color: black;
}

